@model WordSearchGenerator.Models.Grid


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h2 class="text-center">Your word search</h2>




<div class="container" id="gridContainer">
    <div class="row" id="partialGridView">
        @await Html.PartialAsync("_PartialGridView", Model)
    </div>
</div>

<div class="container">
     <div class="row">
            <div class="text-center col-xs-2 mt-5">
                <button type="button" class="btn btn-outline-primary" id="rebuildGridButton">Rebuild Puzzle</button>
                <button type="button" class="btn btn-outline-success" id="goBackButton">Create New Puzzle</button>
            </div>
          </div>  
</div>


<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/js/grid.js"></script>


