@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="text-center">Your word search</h2>

<div class="container">
    <div class="row">
        <table class="col">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
            </tr>
            <tr>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
            </tr>
            <tr>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
            </tr>
        </table>
        <div class="col-md-auto">
            <table id="wordList">
                <tr>
                    <th>Word List</th>
                </tr>
                <tr>
                    <td>
                        <ul class="list-unstyled">
                            <li>
                                cat
                            </li>
                            <li>
                                dog
                            </li>
                            <li>
                                tree
                            </li>
                            <li>
                                go
                            </li>
                        </ul>
                    </td>
                    
                </tr>
                    
               
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="text-center col-xs-2 mt-5">
            <h5>These words did not fit in your puzzle:</h5>
            <ul class="list-unstyled">
                <li>
                    free
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
     <div class="row">
            <div class="text-center col-xs-2 mt-5">
                <button type="button" class="btn btn-outline-primary" id="rebuildGridButton">Rebuild Puzzle</button>
                <button type="button" class="btn btn-outline-success" id="goBackButton">Create New Puzzle</button>
            </div>
          </div>  
</div>

