@model WordSearchGenerator.Models.Grid


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div>
    <h2 class="row justify-content-center text-center">Word Search</h2>
</div>





<div id="partialGridView">
    @await Html.PartialAsync("_PartialGridView", Model)
</div>

<div class="container">
     <div class="row">
            <div class="text-center col-xs-2 mt-5">
                <button type="button" class="btn btn-outline-primary" id="rebuildGridButton">Rebuild Puzzle</button>
                <button type="button" class="btn btn-outline-success" id="goBackButton">Create New Puzzle</button>
            </div>
          </div>  
</div>


<script>
    window.gridObj = {
        gridSize:  @Html.Raw(Json.Serialize(@Model.GridSize)),
        wordList: @Html.Raw(Json.Serialize(@Model.WordList)),
    }
</script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/js/grid.js"></script>


