html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#createWordSearchForm label.error {
    padding-left: 5px;
    padding-bottom: 1px;
    font-weight: 600;
    color: crimson;
    margin-bottom: 5px;
    position: relative;
}

#userWords-error {
    padding-left: 5px;
    padding-bottom: 1px;
    font-weight: 600;
    color: crimson;
    margin-bottom: 5px;
    position: relative;
}

p {
    padding-left: 5px;
    padding-bottom: 1px;
    font-weight: 600;
    color: crimson;
    margin-bottom: 5px;
    position: relative;
}

#deleteWord {
    color: white;
    margin-left: 2px;
    background-color: white;
    border: none;
}

#deleteWord:hover {
    color: crimson;
    font-weight: 700;
}
 /********Grid CSS*************/

/*table {
    border: 1px solid black;
}*/

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    color: blue;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
}

#wordList td {
    border: none;
}