
@media (min-width: 768px) {
  html {
    font-size: 16px;
    
  }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 16px;
}

body {
  margin-bottom: 60px;
}

#gridSize {
    max-width: 768px;
}

#createWordSearchForm label.error {
    padding-left: 5px;
    padding-bottom: 1px;
    font-weight: 600;
    color: crimson;
    margin-bottom: 5px;
    position: relative;
}

#userWords-error {
    padding-left: 5px;
    padding-bottom: 1px;
    font-weight: 600;
    color: crimson;
    margin-bottom: 5px;
    position: relative;
}

p {
    padding-left: 5px;
    padding-bottom: 1px;
    font-weight: 600;
    color: crimson;
    margin-bottom: 5px;
    position: relative;
}

#wordSpan {
   
    padding-right: 5px;
   
}
 /********Grid CSS*************/


#gridContainer {
    min-width: 1200px;
}

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    color: blue;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
}

#wordList td {
    border: none;
    
}

#noFitList td {
    border: none;
}