html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#createForm label.error {
    padding-left: 5px;
    padding-bottom: 1px;
    font-weight: 600;
    color: crimson;
    margin-bottom: 5px;
    position: relative;
}