@model WordSearchGenerator.Models.Grid

<table>
    @foreach (var row in @Model.MasterCoordinates)
    {
        <tr>
            @foreach (var col in row)
            {
                <td>@col</td>
            }
        </tr>
    }
</table>
